<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} – {{ site.theme.name }}</title>
  <meta name="author" content="" />
  <meta name="description" content="" />

  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/favicon.png">

  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/all.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="four columns sidebar">
      <h1 class="site-title">{{ site.theme.name }}</h1>
      <div id="sidebar-inner">
      {% capture sidebar %}{% include sidebar.md %}{% endcapture %}
      {{ sidebar | markdownify }}
      </div>
      <button type="button" role="button" aria-label="Toggle Navigation" class="lines-button x" id="navigation-toggle">
        <span class="lines"></span>
      </button>

    </div>

    <div class="eleven columns content">
      <h1 class="title">{{ page.title }}</h1>
      
      <div id="post">
        {{ content }}
      </div>

      <div class="footer">
        {% include footer.html %}
      </div>
    </div>
  </div>
  <script>
    var open = false,
        anchor = document.getElementById("navigation-toggle"),
        sidebar = document.getElementById("sidebar-inner");

    anchor.addEventListener('click', function(event){
        event.preventDefault();
        if(!open){
          anchor.classList.add('open');
          sidebar.classList.add('open');
          open = true;
        }
        else{
          anchor.classList.remove('open');
          sidebar.classList.remove('open');
          open = false;
        }
      });
  </script>
{% include analytics.html %}
</body>
</html>
